html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #f5f5f5;
}

.historyButton{
    width: 25%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.center {
    margin: auto;
    width: 75%;
    height: 100%;
    padding: 10px;
    border: #44cf6e;
  }