html,
body {
  height: 100%;
}

body {
  align-items: center;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Header gedeelte */
#header {
  height: 70px;
  background-color: #176498; 
}

#logo {
  font-size: 37px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  margin-top: 13px;
  margin-left: 70px;
  
}

#logo a {
  text-decoration: none;
  color: #fff;
}

#main-navigation {
 float: right; 
 margin-right: 70px;
}

#main-navigation ul {
  margin: 0px;
  padding: 0px; 
  list-style: none;
}

#main-navigation li{
  display: inline;
}
/* Footer */
.footer {
  width: 100%;
  height: 50px;
  left: 0;
  position: absolute;
  /*bottom: -490px;*/
  text-align: center;
  background-color: rgba(9,47,82,1.0);
  color: white;
  background: linear-gradient(to bottom right,#003655 0,#0066a1 50%,#0096ee 100%);
  background-repeat: repeat-x;
  /*border: 5px solid rgba(9,47,82,1.0);*/
  bottom: 0;
}